<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="pricing_rule_path" value="../../Scripts/SpecialPricingRules.json" ></add>
		<add key="pricing_rule_path_test" value="../../../GDPAssessment/Scripts/SpecialPricingRules.json" ></add>
	</appSettings>
</configuration>